{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": "off",
    "semi": ["error", "never"],
    "max-len": ["warn", 120],
    "class-methods-use-this": [0],
    "no-unused-vars": "off",
    "react/prop-types": "off",
    "jsx-a11y/img-has-alt": "off",
    "jsx-a11y/anchor-has-content": "off",
    "import/no-extraneous-dependencies": "off",
    "quote-props": "off",
    "no-param-reassign": "off",
    "imports-first": "off",
    "arrow-parens": "off",
    "arrow-body-style": "off",
    "no-underscore-dangle": "off",
    'no-debugger': 'off',
    "no-unneeded-ternary": "off",
    "react/no-unused-prop-types": "off"
  }
}
