.extended-container {
  text-align: center;

  .back-to-dashboard-link {
    padding: 20px 20px;
    text-decoration: none;
  }

  .extended-city-location {
    font-size: 34px;
    margin: 20px auto;
  }

  .extended-forecast-each-card {
    // display: flex;
    display: inline-block;
    height: 100px;
    width: 100px;
  }

  #Monday {

  }

  .display-data-container {
    display: inline-block;
    height: 700px;
    width: 700px;
  }

}
