.dashboard {
  text-align: center;
}

.card-container {
  display: inline-block;
  background: rgb(198, 198, 198);
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  font-weight:100;
  height: 450px;
  width: 300px;
  margin: 30px 15px 30px 15px;
  vertical-align: top;
}

.card-main-info{
 border-radius: 5px 5px 0 0;
 color: white;
 height: 50%;
 padding-top: 10px;
 padding-bottom: 10px;

 h2 {
   font-size: 85px;
   padding-top: 35px;
   padding-bottom: 10px;
 }

 h3 {
   padding-top: 20px;
   letter-spacing: 1px;
 }

 h4 {
   letter-spacing: 1px;
 }
}

.card-extended-info {
  position: relative;
}

#a {
  background: linear-gradient(to bottom, #7B5ECF, #869BFC);

}

#b {
  background: linear-gradient(to bottom, #3D7DD2, #24CDF9 )

}

#c {
  background: linear-gradient(to bottom, #FC595C, #F85A89 )
}

.is-hidden {
  display: none;
}

.link-wrapper {
  background: #707070;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  position: relative;
}

.add-city-link {
  position: relative;
  top: -37px;

  .plus-horiz {
    width: 35px;
    height: 8px;
    background-color: rgb(198, 198, 198);
    margin-top: 26px;
    left: 13px;
    position: absolute;
  }

  .plus-vert {
    width: 8px;
    height: 35px;
    background-color: #c6c6c6;
    position: absolute;
    margin-left: 20px;
    right: 26px;
    top: 13px;
  }

  p {
    color: #707070;
    padding: 15px;
  }

}

.five-day-wrapper {
  height: 50%;
}

.five-day {
  border-radius: 0 0 5px 5px;
  color: #484848;
  height: 100%;
  background: white;

  .five-day-day-ul {
    float: left;
    padding: 10px 0 0 15px;
  }

  .five-day-temp-ul {
    float: right;
    padding: 10px 15px 0 0;
  }

  li {
    line-height: 45px;
  }

  .five-day-day {
    text-align: left;
  }

  .five-day-temp {
    text-align: right;
  }

  button {
    border-style: none;
    background: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin-top: 3px;
  }
}
